global
  maxconn 256

defaults
  mode tcp
  timeout connect 5s
  timeout client  30s
  timeout server  30s

frontend pg_rw
  bind *:5432
  default_backend bk_primary

backend bk_primary
  option httpchk GET /primary
  http-check expect status 200
  default-server inter 2s fall 3 rise 2 on-marked-down shutdown-sessions
  server primary patroni-primary:5432 check port 8008
  server replica patroni-replica:5432 check port 8008 backup

frontend pg_analytics
  bind *:6432
  default_backend bk_replica

backend bk_replica
  option httpchk GET /replica
  http-check expect status 200
  default-server inter 2s fall 10 rise 5 on-marked-down shutdown-sessions
  server replica patroni-replica:5432 check port 8008
